{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <form acton='#', method='POST'>
        {% csrf_token %}
        {% if exist %}
            {{form}}
            <input class='btn btn-success' type="submit" name='submit', value="Save">
        {% else %}
            <div class='alert alert-danger'>
                This entry exists already
            </div>
            {{form}}
            <input class='btn btn-success' type="submit" name='submit', value="Save">
        {% endif %}
    </form>

{% endblock %}